.container{
    max-width: 50%;
    padding-top: 30px;
}

a.navbar-brand{
    width: 180px;
}

.profile-cover{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 200px;
    background-image: url('../../auth/static/assets/img/cover-home.jpg');
}

.the-user-gravatar{
    margin-top: -8rem;
    width: 10rem;
}