{% extends "bootstrap/base.html" %}
{% from 'bootstrap4/form.html' import render_form %}

{% block content %}

<h1>Formulario de Login</h1>

<!-- 
    Importación
    {% from 'bootstrap4/form.html' import render_field %}


    Codigo como crear un formulario usando render_file de bootstrap, MACRO, renderiza de forma mas rapida mis objetos desde bootstrap

    <form action="" method="POST" novalidate>
    {{ formi.hidden_tag() }}
    {{ formi.csrf_token() }}
    {{ render_field(formi.username) }} <br>
    {% for error in formi.username.errors %}
    <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {{ render_field(formi.password) }} <br>
    Como importar mensajes de error usando las propiedades de WT-Forms {% for error in formi.password.errors %}
    <span style="color: red;">{{ error }}</span><br>
    {% endfor %}
    {{ render_field(formi.remember) }} <br>
    {{ render_field(formi.enviar) }}
</form> -->

{{ render_form(formi, novalidate=True) }}

{% endblock content %}