{% extends 'base-admin.html' %}

{% from 'bootstrap4/form.html' import render_form, render_field %}

{% block styles %}
{{ super() }}
{% endblock styles %}

{% block maincontent %}
<div class="container-fluid">
    {{ current_user.username }}

    <form action="post" method="POST" novalidate>
        {{ post.hidden_tag() }}
        {{ render_field(post.title) }}
        {{ render_field(post.body) }}
        {{ render_field(post.enviar) }}
    </form>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
</div>
{% endblock maincontent %}