{% extends 'base-admin.html' %}
{% from 'bootstrap4/form.html' import render_field %}

{% block title %}Usuario{% endblock title %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock styles %}


{% block maincontent %}
<h1>Hola: {{ user.username }}</h1>
<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <img src="{{ user.gravatar(128)}}" alt="" class="rounded">
                <h2 class="h5 mb-4">Información del Usuario</h2>
                <form action="{{ url_for('auth.profile', username=user.username) }}" method="POST">
                    <div class="row">
                        <h3>Datos Personales</h3>
                        {{ form.hidden_tag() }}
                        <div class="col-md-6 mb-3">
                            <div>{{ render_field(form.firstname) }}</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>{{ render_field(form.lastname) }}</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>{{ render_field(form.username) }}</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>{{ render_field(form.email) }}</div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <h3>Datos muy personales</h3>
                        <div class="col-md-6 mb-3">
                            <div>{{ render_field(form.address) }}</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>{{ render_field(form.number) }}</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                <div>{{ form.birth (placeholder="YYYY-MM-DD") }}</div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>{{ render_field(form.city) }}</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>{{ render_field(form.update) }}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card shadow text-center mb-4">
            <div class="profile-cover rounded-top">

            </div>
            <div class="card-body">
                <img src="{{ user.gravatar(128)}}" alt="{{ user.username }}" class="rounded-circle the-user-gravatar">
                <h4>{{ current_user.username }}</h4>
                <h5 class="fw-bolder">{{ current_user.email }}</h5>
                <h5 class="fw-lighter"><a href="{{ url_for('auth.post_by_user', username=current_user.username)}}">Post
                        Escritos
                        {{ current_user.post.count() }}</a></h5>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}