{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock styles %}


{% block content %}
<h1>Reset Password</h1>
<form action="/reset_password" method="POST">
    {{ form.hidden_tag() }}
    {{ form.email.label }}
    {{ form.email(size=80) }}
    {% for error in form.email.error %}
    {{ error }}
    {% endfor %}
    <p>{{ form.enviar }}</p>
</form>
{% endblock content %}