{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock styles %}


{% block content %}
<h1>Resetea tu contraseña</h1>
<form action="/reset_password/<token>" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
        {{ error }}
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}
        {{ form.password2 }}
        {% for error in form.password2.errors %}
        {{ error }}
        {% endfor %}
    </p>
    <p>{{form.enviar}}</p>
</form>
{% endblock content %}